<!DOCTYPE html>
<html>
<head>
	<title>Sudoku</title>
	<script type="text/javascript"
    src="/lib/jquery.min.js"></script>
	<script type="text/javascript"
    src="/lib/underscore-min.js"></script>
  <link rel="stylesheet"
    href="/assets/styles.css">
</head>
<body>
  <main class="main">
    <section id="sudoku"
      class="sudoku">
      <header class="header">
        <h1 class="h1">
          HELVETIKU
          <span class="remaining"></span>
        </h1>
      </header>
      <ul id="grid"
        class="grid"></ul>
      <footer class="footer">
        <p class="time">
        <time datetime="00:00:00">
          00:00:00
        </time>
        </p>
      </footer>
    </section>
  </main>
  <script src="/lib/Arrays.js"></script>
  <script src="/js/Sudoku.js"></script>
  <script src="/lib/backboon.js"></script>
  <script src="/app/collection.js"></script>
  <script src="/app/sudoku-cell.js"></script>
  <script src="/app/sudoku-view.js"></script>
  <script src="/app/sudoku-app.js"></script>
</body>
</html>
